In [48]:
print("hello World!")

hello World!

In [49]:
# Dependencies
import matplotlib.pyplot as plt
import pandas as pd
import os
import scipy.stats as st
import numpy as np

In [50]:
# Study data files
project_path = "Project_df.csv"

# Read the csv file
Project_df = pd.read_csv(project_path)

# Display the data table for preview
Project_df

,Client ID,Location,Month,Quarter,Year,Category,Distributor,Total Sales,Total Points,Points Worth ($)
0,2,"Tlalnepantla, Ciudad de Mexico",1,1,2018,C4,D5,51951,0,0.00
1,2,"Tlalnepantla, Ciudad de Mexico",2,1,2018,C4,D5,15301,0,0.00
2,2,"Tlalnepantla, Ciudad de Mexico",5,2,2018,C4,D5,19807,0,0.00
3,2,"Tlalnepantla, Ciudad de Mexico",6,2,2018,C4,D5,16916,0,0.00
4,2,"Tlalnepantla, Ciudad de Mexico",8,3,2018,C4,D5,88353,1080,928.80
...,...,...,...,...,...,...,...,...,...,...
14579,1371,"Colima, Colima",11,4,2020,C4,D12,218149,164,141.04
14580,1371,"Colima, Colima",12,4,2020,C4,D12,119233,10334,8887.24
14581,1372,"Tezontepec, Hidalgo",10,4,2020,C2,D15,26834,172,147.92
14582,1372,"Tezontepec, Hidalgo",11,4,2020,C2,D15,35671,123,105.78
14583,1372,"Tezontepec, Hidalgo",12,4,2020,C2,D15,57192,5251,4515.86

In [51]:
# Sum the Total Sales by Year
yearly_sales_df = (pd.DataFrame(Project_df.groupby('Year')["Total Sales"].sum()).style.format('${0:,.2f}'))
yearly_sales_df

In [52]:
# Checking the number of different Locations
unique_locations = Project_df.drop_duplicates("Location")
locations_number = len(unique_locations["Location"])
locations_number

134

In [53]:
# Filtering the data by year to work with comparisons
Project_18_df = Project_df.loc[Project_df.Year == 2018]
Project_19_df = Project_df.loc[Project_df.Year == 2019]
Project_20_df = Project_df.loc[Project_df.Year == 2020]

In [58]:
# Working with 2018 Data by Category Sales
stats_summary_2018_df = (Project_18_df.groupby("Category")["Total Sales"].agg(["count","min","max","mean","median","var","std","sem"]).style.format('${0:,.2f}'))
stats_summary_2018_df

# Averiguar cómo darle formato a una sola columna - por ejemplo, que "count" no sea currency cómo todo lo
# demás, sino un entero

In [47]:
# Creating a Data Frame for analyzing Total Quarterly Sales by Category 
quarter_category_2018_df = (pd.DataFrame(Project_18_df.groupby(['Quarter', 'Category'])["Total Sales"].sum()).style.format('${0:,.2f}'))
quarter_category_2018_df